FOXIT_CLIENT_ID=your_foxit_client_id_here
FOXIT_CLIENT_SECRET=your_foxit_client_secret_here
FOXIT_BASE_URL=https://developer-api.foxit.com/v1
FOXIT_ESIGN_BASE_URL=https://esign.foxit.com/api
PORT=4000
